
<div id="wrapper">


  <div class="topbar">


    <div class="topbar-left">
      <a href="#" class="logo">
                    <span class="logo-light">
                            <i class="mdi mdi-camera-control"></i> Seremwe
                        </span>
        <span class="logo-sm">
                            <i class="mdi mdi-camera-control"></i>
                        </span>
      </a>
    </div>

    <nav class="navbar-custom">
      <ul class="navbar-right list-inline float-right mb-0">

        <li class="dropdown notification-list list-inline-item">
          <a class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
            <i class="mdi mdi-bell-outline noti-icon"></i>
            <span class="badge badge-pill badge-danger noti-icon-badge">2</span>
          </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated dropdown-menu-lg px-1">
            <!-- item-->
            <h6 class="dropdown-item-text">
              Notifications
            </h6>
            <div class="slimscroll notification-item-list">

              <a href="javascript:void(0);" class="dropdown-item notify-item">
                <div class="notify-icon bg-danger"><i class="mdi mdi-message-text-outline"></i></div>
                <p class="notify-details"><b>New Message received</b></p>
              </a>



              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item notify-item">
                <div class="notify-icon bg-success"><i class="mdi mdi-message-text-outline"></i></div>
                <p class="notify-details"><b>New Message received</b></p>
              </a>

            </div>
            <!-- All-->
            <a href="javascript:void(0);" class="dropdown-item text-center notify-all text-primary">
              View all <i class="fi-arrow-right"></i>
            </a>
          </div>
        </li>


      </ul>

      <ul class="list-inline menu-left mb-0">
        <li class="float-left">
          <button class="button-menu-mobile open-left waves-effect">
            <i class="mdi mdi-menu"></i>
          </button>
        </li>

      </ul>

    </nav>

  </div>
  <div class="left side-menu">
    <div class="slimscroll-menu" id="remove-scroll">

      <div id="sidebar-menu">
        <!-- Left Menu Start -->
        <ul class="metismenu" id="side-menu">
          <li class="menu-title">Menu</li>
          <li>
            <a href="#" class="waves-effect">
              <i class="icon-accelerator"></i> <span> Dashboard </span>
            </a>
          </li>

          <li>
            <a href="javascript:void(0);" class="waves-effect"><i class="icon-mail-open"></i><span> Email <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
            <ul class="submenu">
              <li><a href="#">Inbox</a></li>
              <li><a href="#">Email Read</a></li>
              <li><a href="#">Email Compose</a></li>
            </ul>
          </li>


          <li>
            <a href="javascript:void(0);" class="waves-effect"><i class="icon-paper-sheet"></i><span> Pages <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
            <ul class="submenu">
              <li><a href="#">Pricing</a></li>
              <li><a href="#">Invoice</a></li>
              <li><a href="#">Timeline</a></li>

            </ul>
          </li>

          <li>
            <a href="javascript:void(0);" class="waves-effect"><i class="icon-profile"></i> <span> User Management<span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span> </a>
            <ul class="submenu">
              <li><a href="#">Users</a></li>
              <li><a href="#">Groups</a></li>

            </ul>
          </li>



          <li>
            <a href="javascript:void(0);" class="waves-effect"><i class="icon-spread"></i><span> Reports  <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
            <ul class="submenu">
              <li><a href="#">Payment History</a></li>
              <li><a href="#">Orders</a></li>

            </ul>
          </li>

          <li>
            <a href="javascript:void(0);" class="waves-effect"><i class="icon-coffee"></i> <span> Collection Points</span> </a>

          </li>




        </ul>

      </div>
      <div class="clearfix"></div>

    </div>

  </div>
  <div class="content-page">
    <!-- Start content -->
    <div class="content">
      <div class="container-fluid">
        <div class="page-title-box">
          <div class="row align-items-center">
            <div class="col-sm-6">
              <h4 class="page-title">Dashboard</h4>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-right">
                <li class="breadcrumb-item"><a href="#">Seremwe</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
              </ol>
            </div>
          </div>
          <!-- end row -->
        </div>
        <!-- end page-title -->

        <div class="row">


          <div class="col-sm-6 col-xl-3">
            <div class="card">
              <div class="card-heading p-4">
                <div class="mini-stat-icon float-right">
                  <i class="mdi mdi-briefcase-check bg-success text-white"></i>
                </div>
                <div>
                  <h5 class="font-16">Total Sales</h5>
                </div>
                <h3 class="mt-4">$73,265</h3>
                <div class="progress mt-4" style="height: 4px;">
                  <div class="progress-bar bg-success" role="progressbar" style="width: 88%" aria-valuenow="88" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="text-muted mt-2 mb-0">Previous period<span class="float-right">88%</span></p>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-xl-3">
            <div class="card">
              <div class="card-heading p-4">
                <div class="mini-stat-icon float-right">
                  <i class="mdi mdi-tag-text-outline bg-warning text-white"></i>
                </div>
                <div>
                  <h5 class="font-16">Today's Sales</h5>
                </div>
                <h3 class="mt-4">$265</h3>
                <div class="progress mt-4" style="height: 4px;">
                  <div class="progress-bar bg-warning" role="progressbar" style="width: 68%" aria-valuenow="68" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="text-muted mt-2 mb-0">Previous period<span class="float-right">68%</span></p>
              </div>
            </div>
          </div>


        </div>

        <div class="row">
          <div class="col-xl-8">
            <div class="card m-b-30">
              <div class="card-body">

                <h4 class="mt-0 header-title mb-4">Area Chart</h4>

                <div id="morris-area-example" class="morris-charts morris-chart-height"></div>

              </div>
            </div>
          </div>

        </div>





      </div>

    </div>

    <footer class="footer">
      <span class="d-none d-sm-inline-block">  Seremwe</span>.
    </footer>

  </div>

</div>
